.header-intro{
    margin-top: 60px;
    color: black;
    text-align: center;
}

.header-text-intro{
    display: inline-block;
    padding-top: 70px;
    padding-bottom: 50px;
}

#home2{
	background: url(../main1.jpg) no-repeat center center fixed;
	display: table;
	height: 40%;
	position: relative;
	width: 100%;
	background-size: cover;
}
.intro-main{
    margin-left: 20%;
    margin-right: 20%;
}